@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    height: 140vh;
    background-image: url(media/chef1.png);
    color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}

.containerd {
    max-width: 100%;
    height: 140vh;
    background-image: url(media/desserts.jpg);
    color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}

.containers {
    max-width: 100%;
    height: 140vh;
    background-image: url(media/snacks.jpg);
    color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}

.containerc {
    max-width: 100%;
    height: 140vh;
    background-image: url(media/cuisines.jpg);
    color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}

.containerm {
    max-width: 100%;
    height: 140vh;
    background-image: url(media/main\ course.jpg);
    color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}

.containere {
    max-width: 100%;
    height: 140vh;
    background-image: url(media/food1.jpg);
    color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar {
    display: flex;
    height: 67px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    box-shadow: 0 5px 10px black;
}

.navbar li {
    list-style: none;
    margin: 0 20px;
}

.icon-bar {
    background: darkorange;
}

.topl {
    width: 50%;
    height: 155px;
}

.topr {
    width: 50%;
    height: 155px;
}

.section1 {
    height: 50vh;
}

.section2 {
    height: 90vh;
    padding-left: 63px;
    padding-right: 63px;
}

.section3 {
    height: 50vh;
}

.logo {
    font-size: 1.3rem;
}

.box {
    margin: 12px 22px;
    min-width: 20vw;
    border: 3px solid black;
    padding: 8px 0px;
}

.box-ul {
    list-style: none;
}

.box-ul-li {
    margin: 12px 2px;
}

.highlighted {
    font-size: medium;
    font-weight: bolder;
}